@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Bold.otf);
}

body{
    margin: 0;
    overflow: hidden;
    background-image: url("duke.jpg");
    background-position: center center;
    background-size: cover;
}

a:link{
    text-decoration: none;
    color: #fff;
}

a:visited{
    text-decoration: none;
    color:  #fff;
}

.box{
    width: 100%;
    max-height: 112px
;    height: 111px;
    background-color: #64C653;
    color:#fff;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    padding-top: 25px;
    font-family: Montserrat, sans-serif;
}

.box:hover{
    cursor: pointer;
    background-color: rgba(63, 63, 64, 0.7) !important;
}

.box:nth-child(2) {
    background-color: #CB62A4;
}

.box:nth-child(3) {
    background-color: #975BC8;
}

.box:nth-child(4) {
    background-color: #C88E5B;
}

.box:nth-child(4) {
    background-color: #BB413E;
}